$primary-color: blue;

$black: #000000;
$font-family-base: "";
$font-family-monospace: "";
$font-size-base: 16px;
$font-weight-base: normal;
$line-height-base: 1rem;
$body-color: $black;
$body-bg: #ffffff;
$headings-margin-bottom: 1.4rem;
$paragraph-margin-bottom: 1rem;
$dt-font-weight: bold;
$font-weight-bolder: bold;

$link-color: green;
$link-hover-color: darkgreen;
$link-decoration: none;
$link-hover-decoration: none;

$table-cell-padding: 10px;
$table-caption-color: $black;

$label-margin-bottom: 0.4rem;
