<ion-header>
    <ion-toolbar>
        <ion-title>Six Handed Euchre - Games</ion-title>
        <ion-buttons slot="end">
            <ion-button routerLink="/login">
                Logout
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ion-card>
        <ion-card-header>
            <ion-card-title>Join a game or create a new one!</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <h2>Games List</h2>
            <ul>
                <li *ngFor="let game of games">
                    <a href="#" routerLink="/games/{{ game.gameId }}">{{ game.gameName }}</a>
                </li>
            </ul>

            <form [formGroup]="createRoomForm" (ngSubmit)="createGame()">
                <ion-item>
                    <ion-label for="gameName" position="floating" color="primary">Game Name</ion-label>
                    <ion-input type="text" formControlName="gameName" required></ion-input>
                </ion-item>

                <ion-button type="submit" color="primary">Create Game</ion-button>
            </form>
        </ion-card-content>
    </ion-card>
</ion-content>
