<p>game works!</p>
<h2>Players in this room</h2>
<ul>
    <li *ngFor="let player of players">{{ player }}</li>
</ul>

<div class="seats">
    <p *ngFor="let seat of gameData.seats">
        <ng-container *ngIf="seat.userName"> Seat {{ seat.seatNumber }} - {{ seat.userName }} </ng-container>
        <ng-container *ngIf="!seat.userName">
            <a href="#" (click)="takeSeat($event, seat.seatNumber)"> Join Seat {{ seat.seatNumber }} </a>
        </ng-container>
    </p>
</div>

<p *ngIf="gameData.startGame"><a href="#" (click)="startGame($event)">Start Game</a></p>
<p><a routerLink="/games">Back to games dashboard</a></p>
