<ion-header>
    <ion-toolbar>
        <ion-title>Six Handed Euchre - Games</ion-title>
        <ion-buttons slot="end">
            <ion-button routerLink="/login">
                Logout
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ion-card>
        <ion-card-header>
            <ion-card-title>Welcome to game: {{ gameData?.gameName }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <h2>Players in this room</h2>
            <ul>
                <li *ngFor="let player of players">{{ player }}</li>
            </ul>
            <ng-container *ngIf="gameData?.gameState !== getGameState.GAME_END">
                <div class="seats">
                    <div *ngFor="let seat of gameData?.seats" class="seat">
                        <p>Seat {{ seat.seatNumber }}</p>
                        <p>Score {{ seat.score }}</p>
                        <ng-container *ngIf="!seat.userName">
                            <p>Waiting for player to join.</p>
                        </ng-container>
                        <ng-container *ngIf="!seat.userName && !hasTakenSeat">
                            <ion-button type="primary" (click)="takeSeat($event, seat.seatNumber)">
                                Join Seat {{ seat.seatNumber }}
                            </ion-button>
                        </ng-container>
                        <div class="seat--player-info" *ngIf="seat.userName">
                            <div class="seat--player-info--name">
                                <p>Player: {{ seat.userName }}</p>
                            </div>
                            <div class="seat--player-info--leave">
                                <ion-button
                                    *ngIf="seat.userName === currentUser.name"
                                    fill="outline"
                                    type="primary"
                                    (click)="leaveSeat()"
                                >
                                    Leave Seat {{ seat.seatNumber }}
                                </ion-button>
                            </div>
                        </div>
                    </div>
                </div>
                <ion-button
                    (click)="startGame($event)"
                    *ngIf="gameData?.gameState === getGameState.GAME_WAITING_START"
                    expand="block"
                    type="primary"
                >
                    Start Game
                </ion-button>

                <ion-button
                    *ngIf="gameData?.gameState === getGameState.GAME_IN_PROGRESS && gameData.isYourTurn"
                    fill="outline"
                    type="primary"
                    (click)="takeYourTurn($event)"
                >
                    Take Your Turn
                </ion-button>
                <div class="game-board">
                    <div class="game-board--seat" *ngFor="let seat of gameData?.seats">
                        <ng-container *ngFor="let turn of gameData?.currentTurn?.turn">
                            <ng-container *ngIf="turn.seatNumber === seat.seatNumber">
                                <p>{{ turn.card.suit }}</p>
                                <p>{{ turn.card.cardValue }}</p>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
                <div class="your-cards" *ngIf="gameData?.gameState === getGameState.GAME_IN_PROGRESS">
                    <div class="your-card" *ngFor="let card of gameData.yourHand">
                        <p>{{ card.suit }}</p>
                        <p>{{ card.cardValue }}</p>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="gameData?.gameState === getGameState.GAME_END">
                <h1>GG Well Played</h1>
                <ul>
                    <li *ngFor="let seat of gameData?.seats">
                        <p>Score {{ seat.userName }}</p>
                        <p>Score {{ seat.score }}</p>
                    </li>
                </ul>
            </ng-container>
        </ion-card-content>
    </ion-card>
    <ion-button color="secondary" fill="clear" routerLink="/games" (click)="leaveSeat()">
        <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
        Back to games dashboard
    </ion-button>
</ion-content>
